@page
@model DependencyFlow.Pages.IndexModel

<h1>Dependency Flow Widgets</h1>

<p>Select a channel and repo to start</p>

<form method="post">
    <div class="form-group">
        <label for="channelSelect">Channel</label>
        <select id="channelSelect" name="channelId">
            @foreach(var channel in Model.Channels) {
                <option value="@channel.Id">@channel.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="repoTextBox">Repository</label>
        <input id="repoTextBox" name="repo" placeholder="repository url, or 'owner/repo' GitHub reference" />
    </div>
    <button type="submit" class="btn btn-primary">Go To Widget</button>
</form>
